[data-pluns^="detailDialog"].ks-overlay{    
width: 980px;
display: none;  
top: calc(50% - 313px); 
left: calc(50vw - 490px);
position: fixed;  
z-index: 1000;
-webkit-box-shadow: 0 0 6px #000;
box-shadow: 0 0 6px #000;
height: 626px;
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
transition: top .1s ease; 
}
[data-pluns^="detailDialog"] .ks-overlay-content {
background-color: #050505;
position: relative;
overflow: hidden;
display: inline-block;
width: calc(100% - 160px);
padding: 0;  
height: 626px;
vertical-align: top;
box-shadow: 4px 0 4px rgba(0,0,0,1);
}
[data-pluns^="detailDialog"] .tab-pannel-item{
display: none;
height: 100%;
}
[data-pluns^="detailDialog"] .tab-pannel-item.tab-active{
display: block;
}
[data-pluns^="detailDialog"] .tab-pannel-image {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
max-width: 100%;
max-height: 100%;
display: block;
margin: auto;
}
[data-pluns^="detailDialog"] .tb-viewer-control {
position: relative;
display: inline-block;
width: 96px;    
color: #fff;
height: 100%;
}
[data-pluns^="detailDialog"] .tb-viewer-contents {
width: calc(100% - 200px);
display: inline-block;
height: 620px;
margin: 3px 0;
position: relative;
}
[data-pluns^="detailDialog"] .tb-viewer-side {
position: relative;
background-color: #F3F3F3;
text-align: left;
padding: 0 20px;
overflow-y: auto;
display: inline-block;
height: 626px;
vertical-align: top;
width: 156px;
box-shadow: 1px 0px 5px #F3F3F3;
}
[data-pluns^="detailDialog"] .J_Viewer-arrow{
font-size: 50px;
font-weight: bold;
position: absolute;
top: calc(50% - 35px);
left: 25px;
color: #898989;
cursor: pointer;
}
[data-pluns^="detailDialog"] .J_Viewer-arrow:hover{
color: #fff;
}
[data-pluns^="detailDialog"] .tb-viewer-title {
color: #6c6c6c;
font-size: 12px;
font-weight: 700; 
margin: 50px 0 20px 0; 
letter-spacing: 1px;
overflow: hidden;    
display: -webkit-box;               
text-overflow: ellipsis;           
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
white-space:normal;
word-break:break-all;
}
[data-pluns^="detailDialog"] .tb-viewer-thumb{
width: calc(100% / 2 - 5px);
margin-right: 5px;
float: left;
position: relative;
margin-top: 5px;
border: 2px solid transparent;
transition: all .1s linear;
}
[data-pluns^="detailDialog"] .tb-viewer-thumb.common-border-color{
border-color: red;
}
[data-pluns^="detailDialog"] .tb-viewer-thumb:after{
content: '';
display: block;
position: relative;
padding-top: 100%;
}
[data-pluns^="detailDialog"] .tb-viewer-thumb>img{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
max-width: 100%;
max-height: 100%;
display: block;
margin: auto;
}
[data-pluns^="detailDialog"] .tb-viewer-thumb:nth-child(2n){
margin-right: 0px;
}
[data-pluns^="detailDialog"] .tb-viewer-btn{
display: block;
margin-top: 25px;
cursor: pointer;
color: #FFF;
border-color: #F40;
background: #F40;
width: 115px;
height: 36px;
line-height: 36px;
text-align: center;
font-size: 14px;
border-width: 1px;
border-style: solid;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
[data-pluns^="detailDialog"] .tb-viewer-original-pic {
display: none;  
font-size: 12px;
position: absolute;
right: 0;
top: 20px;
width: 76px;
text-align: center;
color: #FFF;
height: 24px;
line-height: 24px;
vertical-align: middle;
font-weight: 700;
background-color: #7d93a8;
z-index: 1;
}
[data-pluns^="detailDialog"] .ks-overlay-content:hover .tb-viewer-original-pic{
display: inline; 
}
[data-pluns^="detailDialog"] .tb-viewer-icon {
position: absolute;
right: 10px;
top: 5px;
font-size: 12px;
color: #898989;
cursor: pointer;
}
[data-pluns^="detailDialog"] .tb-viewer-icon:hover{
color: #000;
}
[data-pluns^="detailDialog"] .tb-viewer-indicators{
max-height: 400px;
overflow: auto;
}
[data-pluns^="detailDialog"] .tb-viewer-link {
display: block;
width: 100%;
height: 55px;
line-height: 55px;
text-align: center;
position: absolute;
background: #e5e5e5;
bottom: 0;
left: 0;
font-size: 12px;
cursor: pointer;
color: #000;
}
[data-pluns^="detailDialog"] .tb-zonghe{
position: absolute;
left: 24px;
top: 0px;
font-size: 17px;
color: #000;
cursor: pointer;
}
@media only screen and (max-width: 768px){
  [data-pluns^="detailDialog"].ks-overlay{
    display: none !important;
  }
  .ks-overlay-mask {display: none}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
  [data-pluns^="detailDialog"].ks-overlay {
    width: 800px;
    left: calc(50vw - 315px);
  }
  [data-pluns^="detailDialog"] .tb-viewer-side {
    width: 155px;
  }
  [data-pluns^="detailDialog"] .tb-viewer-control {
    width: 95px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
[data-pluns^="detailDialog"].ks-overlay {
width: 780px;
height: 526px;
left: calc(50vw - 240px);
}
[data-pluns^="detailDialog"] .tb-viewer-control {
  width: 95px;
}
[data-pluns^="detailDialog"] .tb-viewer-side {
  width: 155px;
}
[data-pluns^="detailDialog"] .ks-overlay-content,[data-pluns^="detailDialog"] .tb-viewer-side{
height: 526px;
}
[data-pluns^="detailDialog"] .tb-viewer-contents {
height: 520px;
}
}
