.ModuleGridContainer[gridswidthmode="2"]{max-width:1200px;width:auto;}
.BodyLeftZone{display:none;}
.BodyRightZone{display:none;}
.BodyMain2Zone{display:none;}
.BodyMain3Zone{display:none;}
.BodyMain4Zone{display:none;}
.ModuleGridGiant.layout-101 .ModuleGridItem {
    padding: 0
}

.ModuleGridGiant.layout-101 .row {
    margin-right: 0px;
    margin-left: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridCol {
    padding: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridItem {
    padding: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridItem {
    min-height: 5px;
}

.ModuleGridGiant.layout-101 .ModuleGridContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}
.ModuleGridGiant.layout-101{height: 100%;}
.ModuleGridGiant.layout-101 .ModuleSubContainer{position: relative;}
.ModuleGridGiant.layout-101 .gridBgVideo{position: absolute;top: 0;left: 0;width:100%;z-index: -1;}
.ModuleGridGiant.layout-101 .gridBgVideo .bgVideoMask{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgb(0,0,0);}
.ModuleGridGiant.layout-101 .gridBgVideo .bgVideo{width: 100%; height: 100%; object-fit: cover; object-position: center center;}
.ModuleGridGiant.layout-101 .gridBgVideo.noBgVideo{display: none;}.module_18467971 .ModuleHead .HeadCenter{float:none;}
#module_18467971 {
    padding:0px;
}
#module_18467971 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18467971 .ModuleHead18467971 {
    display:none;
}
#module_18467971 .ModuleHead .HeadText.HeadText18467971 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18467971 .ModuleHead .HeadCenter.HeadCenter18467971{text-align:left;}
#module_18467971 .ModuleHead .HeadCenter.HeadCenter18467971 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18467971 .BodyCenter.BodyCenter18467971 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18467971 >.module_18467971 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18467971 >.module_18467971{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18467971 .BodyCenter.BodyCenter18467971 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18467971 .BodyCenter.BodyCenter18467971 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18467971 >.module_18467971 {
        margin-top:20px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18467971 >.module_18467971 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18467971 >.module_18467971 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18467971:hover {
    border:none;
}
#module_18467971:hover >.module_18467971 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18467971 .ModuleSubContainer{background-color:transparent;}
#module_18467971 .ModuleSubContainer{background-image:none;}
#module_18467971 .ModuleSubContainer{background-repeat:no-repeat;}
#module_18467971 .ModuleSubContainer{background-position:0% 0%;}
#module_18467971 .ModuleSubContainer{background-attachment:scroll;}
#module_18467971 {!bgVideo!}{bgVideoUrl:none}
#module_18467971 .gridBgVideo .bgVideoMask{opacity:0.2}
.ModuleGridContainer.ModuleGridContainer18467971 {}
.ModuleImageGiant.layout-101 .BodyCenter{
    text-align:center;
}
.ModuleImageGiant.layout-101 img{
    margin: auto;
    max-width: 100%;
    border: none;
}

.module_18467998 .ModuleHead .HeadCenter{float:none;}
#module_18467998 {
    padding:0px;
}
#module_18467998 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18467998 .ModuleHead18467998 {
    display:none;
}
#module_18467998 .ModuleHead .HeadText.HeadText18467998 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18467998 .ModuleHead .HeadCenter.HeadCenter18467998{text-align:left;}
#module_18467998 .ModuleHead .HeadCenter.HeadCenter18467998 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18467998 .BodyCenter.BodyCenter18467998 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18467998 >.module_18467998 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18467998 >.module_18467998{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18467998 .BodyCenter.BodyCenter18467998 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18467998 .BodyCenter.BodyCenter18467998 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18467998 >.module_18467998 {
        margin-top:4px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18467998 >.module_18467998 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18467998 >.module_18467998 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18467998:hover {
    border:none;
}
#module_18467998:hover >.module_18467998 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18467998 img{border-top-color:transparent;}
#module_18467998 img{border-top-style:none;}
#module_18467998 img{border-top-width:0px;}
#module_18467998 img{border-right-color:transparent;}
#module_18467998 img{border-right-style:none;}
#module_18467998 img{border-right-width:0px;}
#module_18467998 img{border-bottom-color:transparent;}
#module_18467998 img{border-bottom-style:none;}
#module_18467998 img{border-bottom-width:0px;}
#module_18467998 img{border-left-color:transparent;}
#module_18467998 img{border-left-style:none;}
#module_18467998 img{border-left-width:0px;}
#module_18467998 img{border-top-left-radius:0px;}
#module_18467998 img{border-top-right-radius:0px;}
#module_18467998 img{border-bottom-left-radius:0px;}
#module_18467998 img{border-bottom-right-radius:0px;}

.ModuleNavGiant.layout-107 .main-nav-content {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 0;
    margin: 0 auto;
    overflow:hidden;
}
.ModuleNavGiant.layout-107 .aroundMune{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0px;
    padding:0 10px;
    height: 100%;
    z-index: 5;
    transform: rotateY(90deg);
}
.ModuleNavGiant.layout-107 .aroundMune.active{
    transform: rotateY(0deg);
}
.ModuleNavGiant.layout-107 .moveMenuRight, .ModuleNavGiant.layout-107 .moveMenuLeft{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color:#666;
    text-align: center;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    cursor: pointer;
}
.ModuleNavGiant.layout-107 .main-nav-content .moveMenuRight{
    background-color: rgba(238,238,238,.6);
}
.ModuleNavGiant.layout-107 .main-nav-content .moveMenuLeft{
    display:none;
    background-color: rgba(238,238,238,.6);
    margin-right: 10px

}
.ModuleNavGiant.layout-107 .moveMenuRight:hover, .ModuleNavGiant.layout-107 .moveMenuLeft:hover{
    color:#fff;
    background-color:rgba(204,204,204,.6);
}
.ModuleNavGiant.layout-107 .main-nav-content >.blank-solve{
    width: auto;
    display: inline-block;
    transition: all .4s;
    position: relative;
    left: 0;
}
.ModuleNavGiant.layout-107 .main-nav-item-group {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width: auto;
    height: 80px;
    line-height: 80px;
    float: left;
    text-align: center;
}
.ModuleNavGiant.layout-107 .main-nav-item {
    box-sizing: content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    width: auto;
    color: #000000;
    display: inline-block;
    position: relative;
}
.ModuleNavGiant.layout-107 .sub-nav-item-group {
    /*width: 158px;*/
    width: 100%;
    overflow: hidden;
    display: none;
}
.ModuleNavGiant.layout-107 .sub-nav-item {
    display: block;
    /*width: 158px;*/
    height: 40px;
    color: #fff;
    text-align: left;
    line-height: 40px;
    font-size: 12px;
    padding-left: 25px;
    background-color: #2196f3;
}
.ModuleNavGiant.layout-107 .sub-nav-item:hover {
    background-color: #1976d2;
}
.ModuleNavGiant.layout-107 .sub-nav-item-group.current {
    display: block;
}

.ModuleNavGiant.layout-107 .main-nav-item-hover {
    color: #fff;
    background-color: #2196f3;
}
.ModuleNavGiant.layout-107 .main-nav-item-group:hover .sub-nav-item-group {
    width: 158px;
}
.ModuleNavGiant.layout-107 .main-nav-item-group.current .main-nav-item {
    color: #fff;
    background-color: #2196f3;
}
.ModuleNavGiant.layout-107 .main-nav-item-group.current .sub-nav-item-group {
    width: 158px;
}
.ModuleNavGiant.layout-107 .clearfix:after{content:'.';clear: both;display:block;width:0;height:0;overflow: hidden;visibility: hidden;}.module_18467980 .ModuleHead .HeadCenter{float:none;}
#module_18467980 {
    padding:0px;
}
#module_18467980 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18467980 .ModuleHead18467980 {
    display:none;
}
#module_18467980 .ModuleHead .HeadText.HeadText18467980 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18467980 .ModuleHead .HeadCenter.HeadCenter18467980{text-align:left;}
#module_18467980 .ModuleHead .HeadCenter.HeadCenter18467980 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18467980 .BodyCenter.BodyCenter18467980 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18467980 >.module_18467980 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18467980 >.module_18467980{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18467980 .BodyCenter.BodyCenter18467980 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18467980 .BodyCenter.BodyCenter18467980 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18467980 >.module_18467980 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18467980 >.module_18467980 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18467980 >.module_18467980 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18467980:hover {
    border:none;
}

#module_18467980:hover >.module_18467980 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18467980 .main-nav-item-group{height:80px;line-height:80px;} #module_18467980 .main-nav-content{height:80px}
#module_18467980 .main-nav-content{background-color:#fff;}
#module_18467980 .main-nav-content{background-image:none;}
#module_18467980 .main-nav-content{background-repeat:no-repeat;}
#module_18467980 .main-nav-content{}
#module_18467980 .main-nav-content{}
#module_18467980 .main-nav-content{text-align:right;}
#module_18467980 .main-nav-item{font-size:14px;}
#module_18467980 .main-nav-item{font-family:微软雅黑,Microsoft YaHei;}
#module_18467980 .main-nav-item{color:#333;}
#module_18467980 .main-nav-item{font-weight:normal;}
#module_18467980 .main-nav-item{text-decoration:none;}
#module_18467980 .main-nav-item{font-style:normal;}
#module_18467980 .main-nav-item{background-color:transparent;}
#module_18467980 .main-nav-item{background-image:none;}
#module_18467980 .main-nav-item{background-repeat:no-repeat;}
#module_18467980 .main-nav-item{}
#module_18467980 .main-nav-item{}
#module_18467980 .main-nav-item{width:auto;}
#module_18467980 .main-nav-item{padding-left:40px;padding-right:40px;}
/*#module_18467980 .sub-nav-item-group{width:136px;}*/
#module_18467980 .sub-nav-item-group{width:158px;}
#module_18467980 .sub-nav-item{height:40px;line-height:40px;}
#module_18467980 .sub-nav-item{font-size:14px;}
#module_18467980 .sub-nav-item{font-family:微软雅黑,Microsoft YaHei;}
#module_18467980 .sub-nav-item{color:#fff;}
#module_18467980 .sub-nav-item{font-weight:normal;}
#module_18467980 .sub-nav-item{text-decoration:none;}
#module_18467980 .sub-nav-item{font-style:normal;}
#module_18467980 .sub-nav-item{background-color:rgb(75, 115, 176);}
#module_18467980 .sub-nav-item{background-image:none;}
#module_18467980 .sub-nav-item{background-repeat:no-repeat;}
#module_18467980 .sub-nav-item{}
#module_18467980 .sub-nav-item{}
#module_18467980 .sub-nav-item{margin-top:0px;}
#module_18467980 .main-nav-item-hover{font-size:14px;}
#module_18467980 .main-nav-item-hover{font-family:微软雅黑,Microsoft YaHei;}
#module_18467980 .main-nav-item-hover{color:#fff;}
#module_18467980 .main-nav-item-hover{font-weight:normal;}
#module_18467980 .main-nav-item-hover{text-decoration:none;}
#module_18467980 .main-nav-item-hover{font-style:normal;}
#module_18467980 .main-nav-item-hover{background-color:rgb(75, 115, 176);}
#module_18467980 .main-nav-item-hover{background-image:none;}
#module_18467980 .main-nav-item-hover{background-repeat:no-repeat;}
#module_18467980 .main-nav-item-hover{}
#module_18467980 .main-nav-item-hover{}
#module_18467980 .sub-nav-item:hover{font-size:14px;}
#module_18467980 .sub-nav-item:hover{font-family:微软雅黑,Microsoft YaHei;}
#module_18467980 .sub-nav-item:hover{color:#fff;}
#module_18467980 .sub-nav-item:hover{font-weight:normal;}
#module_18467980 .sub-nav-item:hover{text-decoration:none;}
#module_18467980 .sub-nav-item:hover{font-style:normal;}
#module_18467980 .sub-nav-item:hover{background-color:rgb(89, 89, 89);}
#module_18467980 .sub-nav-item:hover{background-image:none;}
#module_18467980 .sub-nav-item:hover{background-repeat:no-repeat;}
#module_18467980 .sub-nav-item:hover{}
#module_18467980 .sub-nav-item:hover{}