/* cache file /mnt/YouZhan/youzhannew-eyunshe/caches/997/csscache/997_468346_1_.cache exists */
/*md5:daf32c2e9faba49b3f49521518dea7f3*/

.ModuleProductDetailGiant.layout-101  .icon-qrcode img{
    width: 100%;
    position: relative;
    top: -4px;
}
.ModuleProductDetailGiant.layout-101  .mob-enquiry{
    position: absolute;
    right: 14px;
    top: 20px;
}
.ModuleProductDetailGiant.layout-101 .pro_pic_specification{
    display: none;
}
.ModuleProductDetailGiant.layout-101 .specification_have_pic .pro_text_specification{
    display: none
}
.ModuleProductDetailGiant.layout-101 .specification_have_pic .pro_pic_specification{
    display: block;
}
.ModuleProductDetailGiant.layout-101 .inSwiper-slide{
    background-size: cover;
    -moz-background-size: cover;
}
.ModuleProductDetailGiant.layout-101 .inSwiper-slide i.boshiweb_bofang{
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    z-index: 100;
}
.ModuleProductDetailGiant.layout-101 .inSwiper-slide i.boshiweb_bofang:after{
    content: '';
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    border-left: 16px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translate(-7px,-9px);
}
.ModuleProductDetailGiant.layout-101 .gallery-thumbs .swiper-slide {
    width: 70px;
}
.ModuleProductDetailGiant.layout-101 .gallery-thumbs .swiper-slide.active{
    opacity: 1;
}
.ModuleProductDetailGiant.layout-101 .gallery-thumbs .swiper-slide.active .inSwiper-slide{
    border:2px solid #000000;
}
.ModuleProductDetailGiant.layout-101 .mobile-model{
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 45px;
    word-wrap:break-word;
    word-break:break-all;
}
.ModuleProductDetailGiant.layout-101 .introduceTop{
    border-bottom: 0;
}
.ModuleProductDetailGiant.layout-101 .border-b-pc{
    border-bottom: 1px solid #eee;
}
.ModuleProductDetailGiant.layout-101 .downloadoncBox,.ModuleProductDetailGiant.layout-101 .downloadonc{
    display: inline-block;
    font-size: 13px
}
.ModuleProductDetailGiant.layout-101 .particulars{    padding-top: 15px;}
.ModuleProductDetailGiant.layout-101 .downloadonc:hover{text-decoration: none}
.ModuleProductDetailGiant.layout-101 .attachment{padding-right: 5px}
.ModuleProductDetailGiant.layout-101 .downloadoncBox .downloadoncle{
    padding-right:10px;
}
.ModuleProductDetailGiant.layout-101 .downloadoncBox{
    padding-top: 22px;
    border-top: 1px solid #eee
}
.ShareIcon{
    display: none!important;
}
.ModuleProductDetailGiant.layout-101 .pro-big-pic-wb{
    position: relative;
}
.ModuleProductDetailGiant.layout-101 .specification-AttrKeyName{
    padding-right: 10px;
    float: left;
    line-height: 22px;
}
.ModuleProductDetailGiant.layout-101 .specification_have_pic .specification-AttrValName{
    width: 46px;
    height: 46px;
    padding:0;
    border:1px solid #e5e5e5;
}
.ModuleProductDetailGiant.layout-101 .specification_have_pic .specification-AttrValName.active{
    border:2px solid #7d7d7d;
}
.ModuleProductDetailGiant.layout-101 .specification_have_pic .specification-AttrValName img{
    width: 100%;
}
.ModuleProductDetailGiant.layout-101 .specification_have_pic .specification-AttrKeyName{
    line-height: 38px;
}
.ModuleProductDetailGiant.layout-101 .specification-AttrValName{
    margin-right: 5px;
    line-height: 22px;
    padding:0 5px;
    background: #fff;
    margin-bottom: 10px;
    display: inline-block;
    border:1px solid #e5e5e5;
    color:#666;
    cursor: pointer;
}
.ModuleProductDetailGiant.layout-101 .mobile-title-parameter{
    line-height: 44px;
    padding-left: 14px;
    border-bottom: 1px solid #eee;
    display: none;
    margin-bottom: 20px;
}
.ModuleProductDetailGiant.layout-101 .specification-AttrValName.active{
    border:1px solid #f5f4f9;
    background: #f5f4f9;
}
.ModuleProductDetailGiant.layout-101 .specification-box{
    font-size: 14px;
    color:#666;
    margin-bottom: 15px;
}
.ModuleProductDetailGiant.layout-101 .back-btn,.ModuleProductDetailGiant.layout-101 .img-text-detail{
    position: absolute;
    background: #fff;
    top:16px;
    left:16px;
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    border:1px solid rgba(0,0,0,.2);
}
.ModuleProductDetailGiant.layout-101 .img-text-detail{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    left:auto;
    top:auto;
    right:18px;
    bottom:18px;
    padding:10px 0px;
    text-decoration: none;
    font-size: 14px;
    color:#333;
    line-height: 20px;
}
.ModuleProductDetailGiant.layout-101 .back-btn img{
    width: 32px;
    display: block;
}
.ModuleProductDetailGiant.layout-101  .pro-row .pro-name{display:inline;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;word-wrap:break-word; 	word-break: normal}
.ModuleProductDetailGiant.layout-101 .nav-tabs>li>a:hover{background-color:unset;border-color:unset}
.ModuleProductDetailGiant.layout-101 .pro-row .pro-name.webkitbox{display: -webkit-box;}
.ModuleProductDetailGiant.layout-101  .pro-row .stress{
    display: inline-block;
    padding:3px;
    font-size: 14px;
    color:red;
    border:1px solid red;
    position: relative;
    top:-3px;
    border-radius: 4px;
    margin-right:5px;
    margin-top: 8px;
    cursor:pointer;
    color:#df1b1b;
}
.ModuleProductDetailGiant.layout-101 .particularsMain{margin-top: 25px}
.ModuleProductDetailGiant.layout-101 .particularsNav{top:0;}
.ModuleProductDetailGiant.layout-101 .particulars .particularsNavBox{
    border: none;
}
.ModuleProductDetailGiant.layout-101 ul.particularsNavBox li{
    padding: 0 24px;
    display: inline-block;
    float: none;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 14px;
    width: auto;
}
.ModuleProductDetailGiant.layout-101 ul.particularsNavBox li a{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
}
.ModuleProductDetailGiant.layout-101 .nav-tabs>li.active>a, .ModuleProductDetailGiant.layout-101 .nav-tabs>li.active>a:focus, .ModuleProductDetailGiant.layout-101 .nav-tabs>li.active>a:hover{background-color: unset !important;;color:unset !important;;}
.ModuleProductDetailGiant.layout-101 .param{float: left;width: 30% ;   float: left;padding-left: 5%;line-height: 2.5;color: #999;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ModuleProductDetailGiant.layout-101  .icon-qrcode{
    margin-left:10px;
    width: 18px;
    display: inline-block;
}
.ModuleProductDetailGiant.layout-101 .particularsNav{border-bottom: unset;}
.ModuleProductDetailGiant.layout-101 .particularsNavBox .active{border-bottom: 4px solid #000;}
.ModuleProductDetailGiant.layout-101 .collect-icon{
    display: block;
    font-size:22px;
}
.ModuleProductDetailGiant.layout-101 .collect-icon.icon-pic-share{
    font-size: 19px;
    color:#333;
}
.ModuleProductDetailGiant.layout-101 .pro-btn img{
    position: relative;
    top:-2px;
    padding-right: 5px
}
.ModuleProductDetailGiant.layout-101 .pro-btn.active img{
    top:-2px;
}
.ModuleProductDetailGiant.layout-101 .introduceBottom{padding-top: 20px;}
.ModuleProductDetailGiant.layout-101 .introduceBottom .pro-row{background:url(/skinp/modules/ModuleProductDetailGiant/images/dian.jpg) no-repeat center;display: flex;}
.ModuleProductDetailGiant.layout-101  .sharAndCollect{
    display: none;
}
.ModuleProductDetailGiant.layout-101 .dian{
    display: inline-block;
    height: 8px;
    width: 8px;
    background: #999;
    margin-bottom: 1px;
    margin-right: 12px;
}
.ModuleProductDetailGiant.layout-101 .introduce{
    background: #fff;
    margin-bottom: 8px;
}
.ModuleProductDetailGiant.layout-101{
    background: #fff
}
.ModuleProductDetailGiant.layout-101 .sharAndCollect strong{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    font-weight: normal;
    color: #333;
}
.ModuleProductDetailGiant.layout-101 .icon-pic{
    position: relative;
    top:1px;
    font-size: 16px;
    color:#333;
}
.ModuleProductDetailGiant.layout-101 .sharAndCollect strong b{
    font-weight: normal;
    font-size: 12px;
}
.ModuleProductDetailGiant.layout-101 .sharAndCollect strong img{
    display: block;
    width: 16px;
    margin: 0 auto;
    margin-bottom: 4px;
}
.ModuleProductDetailGiant.layout-101 .pro-btn{
    width:auto;
    padding:0 3%;
}
.ModuleProductDetailGiant.layout-101 .specification-AttrValName-wb{
    margin-left: 80px;
}
.ModuleProductDetailGiant.layout-101 .gallery-thumbswb{
    position: relative;
}
.ModuleProductDetailGiant.layout-101 .pro-thumbnail-direction.pro-thumbnail-prev{
    left:auto;
    right: 0;
}
.ModuleProductDetailGiant.layout-101 .pro-thumbnail-direction{
    position: absolute;
    left:0;
    top:50%;
    width: 50px;
    margin-top: -18px;
    cursor: pointer;
    font-size: 24px;
    color:#ccc;
    font-weight: bold;
    width: 24px
}
.ModuleProductDetailGiant.layout-101  .gallery-thumbswb{
    padding-left:47px;
    padding-right:47px;
    margin-top:10px;
}
.ModuleProductDetailGiant.layout-101 .huiSeJianXi{
    display: none
}
.ModuleProductDetailGiant.layout-101 .pro-price{
    padding-bottom: 20px;
    display: inline-block;
}
/* 分享S */
.ModuleProductDetailGiant.layout-101 .pro-btn-share {
    position: relative;
}
.ModuleProductDetailGiant.layout-101 .pc-share-list-wb {
    position: absolute;
    top: 30px;
    left: -1px;
    background: #fff;
    display: none;
}
.ModuleProductDetailGiant.layout-101 .pro-btn-share:hover .pc-share-list-wb {
    display: block;
}
.ModuleProductDetailGiant.layout-101 .pc-share-list .pc-share-list-text {
    line-height: 24px;
    margin-right: 8px;
    color: #666;
}
.ModuleProductDetailGiant.layout-101 .pc-share-list li {
    list-style: none;
    float: left;
    height: 24px;
    line-height: 28px;
}
.ModuleProductDetailGiant.layout-101 .pc-share-list li img {
    width: 24px;
    margin-right: 8px;
    cursor: pointer;
    padding-bottom: 1px;
}
/* 分享E */
@media only screen and (max-width: 767px) {
    .ModuleProductDetailGiant.layout-101 .pro-chang-box,.ModuleProductDetailGiant.layout-101 .pro-thumbnail-direction,.ModuleProductDetailGiant.layout-101 .gallery-thumbswb{
        display: none
    }
    .ModuleProductDetailGiant.layout-101 .downloadoncBox{
        padding-left: 14px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .ModuleProductDetailGiant.layout-101 .introduceBottom{
        padding-top: 0;
        display: none;
    }
    .ModuleProductDetailGiant.layout-101 .huiSeJianXi{
        height: 8px;
        background: #eee;
        display: block;
    }
    .ModuleProductDetailGiant.layout-101 .specification-mobile{
        padding-top: 10px;
    }
    .ModuleProductDetailGiant.layout-101 .specification-AttrValName-wb{
        margin-left: 0!important
    }
    .ModuleProductDetailGiant.layout-101 .mobile-title-parameter,.ModuleProductDetailGiant.layout-101  .inModuleProduteDetailTop .back-btn,.ModuleProductDetailGiant.layout-101 .img-text-detail{
        display: block;
    }
    .ModuleProductDetailGiant.layout-101 .specification-AttrKeyName{
        display: block;
        float: none;
        padding-bottom: 15px;
    }
    .ModuleProductDetailGiant.layout-101 .gallery-thumbs,.ModuleProductDetailGiant.layout-101  .maohao-specification{
        display: none;
    }
    .ModuleProductDetailGiant.layout-101 .mobilepd{
        padding-bottom:20px;
    }
    .ModuleProductDetailGiant.layout-101 .mobile-model{
        padding-bottom:10px;
    }
    .ModuleProductDetailGiant.layout-101  .sharAndCollect{
        display: inline-block;
        float:right;
    }
    .ModuleProductDetailGiant.layout-101  .old-price{
        padding-bottom:10px;
        height: 50px;
        line-height: 50px;
        padding-top: 0;
        border-bottom: 1px solid #eee;
        box-sizing: content-box;
    }
    .ModuleProductDetailGiant.layout-101  .pcSharAndCollect{
        display: none;
    }
    .ModuleProductDetailGiant.layout-101{
        background: #eee
    }
    .ModuleProductDetailGiant.layout-101  .pro-row{
        padding-left:14px;
        padding-right: 10px;
    }
}
.ModuleProductDetailGiant.layout-101  .ProVideoDiv{
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 11;
    background: #fff;
}
.ModuleProductDetailGiant.layout-101  .ProVideo{
    left: 50%;
    top: 50%;
    width:100%;
    position: absolute;
    transform: translate(-50%,-50%)
}
.ModuleProductDetailGiant.layout-101  .ProVideoIcon{
    font-size:45px;
    position:absolute;
    left:48.8%;
    top:45%;
    z-index:1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ModuleProductDetailGiant.layout-101  .swiperBox{
        width: 355px;
        display: inline-block;
        vertical-align: top;
        margin-right: 54px;
    }
    .ModuleProductDetailGiant.layout-101 ul.particularsNavBox li{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ModuleProductDetailGiant.layout-101  .introduce{
        padding-top:20px;
        width: calc(100% - 413px);
        display: inline-block;
    }
    .ModuleProductDetailGiant.layout-101  .pro-row{
        padding-right: 10px;
    }
    .ModuleProductDetailGiant.layout-101 .inModuleProduteDetailTop{
        padding:0 58px;
    }
    .ModuleProductDetailGiant.layout-101 .ProVideoIcon	{
        font-size: 32px;left: 48%;top: 46%;
    }
}
@media only screen and (max-width: 1200px)  {
    .ModuleProductDetailGiant.layout-101 .particularsMain{margin-top: 15px}
    .ModuleProductDetailGiant.layout-101 .param{width: 100%;padding-left: 32px;}
    .ModuleProductDetailGiant.layout-101 .swiper-pagination-bullet-active{background: #f5f5f5}
    .ModuleProductDetailGiant.layout-101 .mobile-download{right: 5px;z-index: 10;top: 15px;height: 32px;width: 32px;line-height:32px;border-radius: 50%;padding: 0;text-align: center;position: absolute;border: 1px solid rgba(0,0,0,.2); }
    .ModuleProductDetailGiant.layout-101 .attachment{padding-right: 0px;}
}
@media only screen and (min-width: 1200px)  {
    .ModuleProductDetailGiant.layout-101  .swiperBox{
        width: 430px;
        display: inline-block;
        vertical-align: top;
    }
    .ModuleProductDetailGiant.layout-101  .pro-row{
        padding-right: 10px;
    }
    .ModuleProductDetailGiant.layout-101  .introduce{
        padding-top: 24px;
        width: calc(100% - 519px);
        display: inline-block;
        margin-left: 85px;
    }
    .ModuleProductDetailGiant.layout-101  .introduce.hasntMarginRight {
        margin-left: 0;
    }
    .ModuleProductDetailGiant.layout-101 .inModuleProduteDetailTop{
        padding:0 70px;
    }
}
@media only screen and (max-width: 991px){
    .ModuleProductDetailGiant.layout-101 .icon-qrcode{display:none;}
    .ShareIcon{display: none!important;}
    #HeaderZoneContainer,#FooterContainer {display: none; }
    .ModuleProductDetailGiant.layout-101 ul.particularsNavBox li{
        padding-left: 15px;
        padding-right: 15px;
    }
    .ModuleProductDetailGiant.layout-101 .liji-xunpan,.ModuleProductDetailGiant.layout-101 .release-pd{
        display: none !important;
    }
    .ModuleProductDetailGiant.layout-101 .enquiry{display: none !important;}
    .ModuleProductDetailGiant.layout-101 .subn {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space:nowrap;
    }
}
@media only screen and (min-width: 992px){
    .ModuleProductDetailGiant.layout-101 .mobile-download{display: none}
    .ModuleProductDetailGiant.layout-101 .xunpan-wrapper{margin-top: 10px;}
    .ModuleProductDetailGiant.layout-101 .mob-enquiry{display: none !important;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ModuleProductDetailGiant.layout-101 .ProVideoIcon	{font-size: 32px;left: 48%;top: 47%;}
}

@media only screen and (max-width: 767px){
    .ModuleProductDetailGiant.layout-101 .ProVideo {height:37vh;}
    .ModuleProductDetailGiant.layout-101 .ProVideoIcon	{font-size: 32px;left: 45.8%;top:46%;}
}
.ModuleProductDetailGiant.layout-101 .mobile-inSlide-size{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.ModuleProductDetailGiant.layout-101 .pc-inSlide-size{
    opacity: 0;
    z-index: -1;
    position: relative;
}
.ModuleProductDetailGiant.layout-101 .active-transparent{border: transparent !important;}
.ModuleProductDetailGiant.layout-101 .nav-tabs>li.active>a {
    border:0;
}

.module_18480272 .ModuleHead .HeadCenter{float:none;}
#module_18480272 {
    padding:0px;
}
#module_18480272 {
    height: auto;
}
#module_18480272 .ModuleHead18480272 {
    display:none;
}

#module_18480272 .pro-price,#module_18480272 .pro-row .stress{color:#f10215;}
#module_18480272 .pro-btn-share.active{color:#fff;}
#module_18480272 .gallery-thumbs .swiper-slide.active .inSwiper-slide,#module_18480272 .common-border-color,#module_18480272 .pro-row .stress{border-color:#f10215;} #module_18480272 .downloadonc:hover{color:#f10215;} #module_18480272 .particularsNavBox .active,#module_18480272 .pro-btn.active,#module_18480272 .tb-viewer-btn{border-color:#f10215;} #module_18480272 .pro-btn.active,#module_18480272  .tb-viewer-btn {background-color:#f10215;}
#module_18480272 .enquiry{border-color:#f10215;}
#module_18480272 .enquiry{color:#fff;}
#module_18480272 .enquiry{background-color:#f10215;}
.module_0 .ModuleHead .HeadCenter{float:none;}
#module_0 {
    padding:0px;
}
#module_0 {
    height: auto;
}
#module_0 .ModuleHead0 {
    display:none;
}
#module_0 .ModuleHead .HeadText.HeadText0 {
}
#module_0 .ModuleHead .HeadTextMore.HeadTextMore0 {
}
#module_0 >.module_0 {
    border:none;
}
@media screen and (min-width: 768px){
    #module_0 .BodyCenter.BodyCenter0 {
    }
}
@media screen and (max-width: 767px){
    #module_0 .BodyCenter.BodyCenter0 {
    }
}
#module_0 .BodyCenter.BodyCenter0 {
}
#module_0 .BodyCenter a {
}

.module_18502670 .ModuleHead .HeadCenter{float:none;}
#module_18502670 {
    padding:0px;
}
#module_18502670 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502670 .ModuleHead18502670 {
    display:none;
}
#module_18502670 .ModuleHead .HeadText.HeadText18502670 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502670 .ModuleHead .HeadCenter.HeadCenter18502670{text-align:left;}
#module_18502670 .ModuleHead .HeadCenter.HeadCenter18502670 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502670 .BodyCenter.BodyCenter18502670 {
    background:none;background-color:rgb(53, 53, 53);
}
#module_18502670 >.module_18502670 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502670 >.module_18502670{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502670 .BodyCenter.BodyCenter18502670 {
        padding-top:40px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:40px;
    }
}
@media screen and (max-width: 767px){
    #module_18502670 .BodyCenter.BodyCenter18502670 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502670 >.module_18502670 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502670 >.module_18502670 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502670 >.module_18502670 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502670:hover {
    border:none;
}
#module_18502670:hover >.module_18502670 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502670 .ModuleSubContainer{background-color:transparent;}
#module_18502670 .ModuleSubContainer{background-image:none;}
#module_18502670 .ModuleSubContainer{background-repeat:no-repeat;}
#module_18502670 .ModuleSubContainer{background-position:0% 0%;}
#module_18502670 .ModuleSubContainer{background-attachment:scroll;}
#module_18502670 {!bgVideo!}{bgVideoUrl:none}
#module_18502670 .gridBgVideo .bgVideoMask{opacity:0.2}
.ModuleGridContainer.ModuleGridContainer18502670 {}
.module_18502715 .ModuleHead .HeadCenter{float:none;}
#module_18502715 {
    padding:0px;
}
#module_18502715 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502715 .ModuleHead18502715 {
    display:none;
}
#module_18502715 .ModuleHead .HeadText.HeadText18502715 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502715 .ModuleHead .HeadCenter.HeadCenter18502715{text-align:left;}
#module_18502715 .ModuleHead .HeadCenter.HeadCenter18502715 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502715 .BodyCenter.BodyCenter18502715 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502715 >.module_18502715 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502715 >.module_18502715{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502715 .BodyCenter.BodyCenter18502715 {
        padding-top:30px;
        padding-left:0px;
        padding-right:96px;
        padding-bottom:10px;
    }
}
@media screen and (max-width: 767px){
    #module_18502715 .BodyCenter.BodyCenter18502715 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502715 >.module_18502715 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502715 >.module_18502715 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502715 >.module_18502715 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502715:hover {
    border:none;
}
#module_18502715:hover >.module_18502715 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502715 img{border-top-color:transparent;}
#module_18502715 img{border-top-style:none;}
#module_18502715 img{border-top-width:0px;}
#module_18502715 img{border-right-color:transparent;}
#module_18502715 img{border-right-style:none;}
#module_18502715 img{border-right-width:0px;}
#module_18502715 img{border-bottom-color:transparent;}
#module_18502715 img{border-bottom-style:none;}
#module_18502715 img{border-bottom-width:0px;}
#module_18502715 img{border-left-color:transparent;}
#module_18502715 img{border-left-style:none;}
#module_18502715 img{border-left-width:0px;}
#module_18502715 img{border-top-left-radius:0px;}
#module_18502715 img{border-top-right-radius:0px;}
#module_18502715 img{border-bottom-left-radius:0px;}
#module_18502715 img{border-bottom-right-radius:0px;}

/*图文模块 layout 101*/
.ModuleImageTextGiant.layout-101 .imageTextGiant-Container{height: auto; word-wrap: break-word;max-height: 100%;padding:10px;max-width: 100%; overflow: hidden;}.module_18502717 .ModuleHead .HeadCenter{float:none;}
#module_18502717 {
    padding:0px;
}
#module_18502717 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502717 .ModuleHead18502717 {
    display:none;
}

#module_18502717 .ModuleImageTextGiantContent{margin-top:0px;}
#module_18502717 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_18502717 .ModuleImageTextGiantContent{margin-left:0px;}
#module_18502717 .ModuleImageTextGiantContent{margin-right:10px;}
#module_18502717 .imageTextGiant-Container{padding-top:10px;}
#module_18502717 .imageTextGiant-Container{padding-bottom:10px;}
#module_18502717 .imageTextGiant-Container{padding-left:10px;}
#module_18502717 .imageTextGiant-Container{padding-right:10px;}

.module_18502723 .ModuleHead .HeadCenter{float:none;}
#module_18502723 {
    padding:0px;
}
#module_18502723 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502723 .ModuleHead18502723 {
    display:none;
}
#module_18502723 .ModuleHead .HeadText.HeadText18502723 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502723 .ModuleHead .HeadCenter.HeadCenter18502723{text-align:left;}
#module_18502723 .ModuleHead .HeadCenter.HeadCenter18502723 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502723 .BodyCenter.BodyCenter18502723 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502723 >.module_18502723 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:rgb(89, 89, 89);
    border-left-width:1px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502723 >.module_18502723{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502723 .BodyCenter.BodyCenter18502723 {
        padding-top:30px;
        padding-left:60px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502723 .BodyCenter.BodyCenter18502723 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502723 >.module_18502723 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502723 >.module_18502723 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502723 >.module_18502723 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502723:hover {
    border:none;
}
#module_18502723:hover >.module_18502723 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502723 img{border-top-color:transparent;}
#module_18502723 img{border-top-style:none;}
#module_18502723 img{border-top-width:0px;}
#module_18502723 img{border-right-color:transparent;}
#module_18502723 img{border-right-style:none;}
#module_18502723 img{border-right-width:0px;}
#module_18502723 img{border-bottom-color:transparent;}
#module_18502723 img{border-bottom-style:none;}
#module_18502723 img{border-bottom-width:0px;}
#module_18502723 img{border-left-color:transparent;}
#module_18502723 img{border-left-style:none;}
#module_18502723 img{border-left-width:0px;}
#module_18502723 img{border-top-left-radius:0px;}
#module_18502723 img{border-top-right-radius:0px;}
#module_18502723 img{border-bottom-left-radius:0px;}
#module_18502723 img{border-bottom-right-radius:0px;}

.module_18502787 .ModuleHead .HeadCenter{float:none;}
#module_18502787 {
    padding:0px;
}
#module_18502787 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502787 .ModuleHead18502787 {
    display:none;
}
#module_18502787 .ModuleHead .HeadText.HeadText18502787 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502787 .ModuleHead .HeadCenter.HeadCenter18502787{text-align:left;}
#module_18502787 .ModuleHead .HeadCenter.HeadCenter18502787 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502787 .BodyCenter.BodyCenter18502787 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502787 >.module_18502787 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:rgb(89, 89, 89);
    border-left-width:1px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502787 >.module_18502787{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502787 .BodyCenter.BodyCenter18502787 {
        padding-top:0px;
        padding-left:70px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502787 .BodyCenter.BodyCenter18502787 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502787 >.module_18502787 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502787 >.module_18502787 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502787 >.module_18502787 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502787:hover {
    border:none;
}
#module_18502787:hover >.module_18502787 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502787 .ModuleImageTextGiantContent{margin-top:0px;}
#module_18502787 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_18502787 .ModuleImageTextGiantContent{margin-left:0px;}
#module_18502787 .ModuleImageTextGiantContent{margin-right:10px;}
#module_18502787 .imageTextGiant-Container{padding-top:10px;}
#module_18502787 .imageTextGiant-Container{padding-bottom:10px;}
#module_18502787 .imageTextGiant-Container{padding-left:10px;}
#module_18502787 .imageTextGiant-Container{padding-right:10px;}

.module_18502779 .ModuleHead .HeadCenter{float:none;}
#module_18502779 {
    padding:0px;
}
#module_18502779 {
    position:static;
    z-index:0;
    top:55px;
    width:100%;
    height: auto;
}
#module_18502779 .ModuleHead18502779 {
    display:none;
}
#module_18502779 .ModuleHead .HeadText.HeadText18502779 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502779 .ModuleHead .HeadCenter.HeadCenter18502779{text-align:left;}
#module_18502779 .ModuleHead .HeadCenter.HeadCenter18502779 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502779 .BodyCenter.BodyCenter18502779 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502779 >.module_18502779 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:rgb(89, 89, 89);
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:rgb(89, 89, 89);
    border-right-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502779 >.module_18502779{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502779 .BodyCenter.BodyCenter18502779 {
        padding-top:30px;
        padding-left:0px;
        padding-right:60px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502779 .BodyCenter.BodyCenter18502779 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502779 >.module_18502779 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502779 >.module_18502779 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502779 >.module_18502779 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502779:hover {
    border:none;
}
#module_18502779:hover >.module_18502779 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502779 img{border-top-color:transparent;}
#module_18502779 img{border-top-style:none;}
#module_18502779 img{border-top-width:0px;}
#module_18502779 img{border-right-color:transparent;}
#module_18502779 img{border-right-style:none;}
#module_18502779 img{border-right-width:0px;}
#module_18502779 img{border-bottom-color:transparent;}
#module_18502779 img{border-bottom-style:none;}
#module_18502779 img{border-bottom-width:0px;}
#module_18502779 img{border-left-color:transparent;}
#module_18502779 img{border-left-style:none;}
#module_18502779 img{border-left-width:0px;}
#module_18502779 img{border-top-left-radius:0px;}
#module_18502779 img{border-top-right-radius:0px;}
#module_18502779 img{border-bottom-left-radius:0px;}
#module_18502779 img{border-bottom-right-radius:0px;}

.module_18502790 .ModuleHead .HeadCenter{float:none;}
#module_18502790 {
    padding:0px;
}
#module_18502790 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502790 .ModuleHead18502790 {
    display:none;
}
#module_18502790 .ModuleHead .HeadText.HeadText18502790 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502790 .ModuleHead .HeadCenter.HeadCenter18502790{text-align:left;}
#module_18502790 .ModuleHead .HeadCenter.HeadCenter18502790 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502790 .BodyCenter.BodyCenter18502790 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502790 >.module_18502790 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:rgb(89, 89, 89);
    border-right-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502790 >.module_18502790{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502790 .BodyCenter.BodyCenter18502790 {
        padding-top:0px;
        padding-left:0px;
        padding-right:52px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502790 .BodyCenter.BodyCenter18502790 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502790 >.module_18502790 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502790 >.module_18502790 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502790 >.module_18502790 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502790:hover {
    border:none;
}
#module_18502790:hover >.module_18502790 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502790 .ModuleImageTextGiantContent{margin-top:0px;}
#module_18502790 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_18502790 .ModuleImageTextGiantContent{margin-left:0px;}
#module_18502790 .ModuleImageTextGiantContent{margin-right:10px;}
#module_18502790 .imageTextGiant-Container{padding-top:10px;}
#module_18502790 .imageTextGiant-Container{padding-bottom:10px;}
#module_18502790 .imageTextGiant-Container{padding-left:10px;}
#module_18502790 .imageTextGiant-Container{padding-right:10px;}

.module_18502732 .ModuleHead .HeadCenter{float:none;}
#module_18502732 {
    padding:0px;
}
#module_18502732 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502732 .ModuleHead18502732 {
    display:none;
}
#module_18502732 .ModuleHead .HeadText.HeadText18502732 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502732 .ModuleHead .HeadCenter.HeadCenter18502732{text-align:left;}
#module_18502732 .ModuleHead .HeadCenter.HeadCenter18502732 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502732 .BodyCenter.BodyCenter18502732 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502732 >.module_18502732 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502732 >.module_18502732{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502732 .BodyCenter.BodyCenter18502732 {
        padding-top:0px;
        padding-left:50px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502732 .BodyCenter.BodyCenter18502732 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502732 >.module_18502732 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502732 >.module_18502732 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502732 >.module_18502732 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502732:hover {
    border:none;
}
#module_18502732:hover >.module_18502732 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502732 .ModuleImageTextGiantContent{margin-top:0px;}
#module_18502732 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_18502732 .ModuleImageTextGiantContent{margin-left:0px;}
#module_18502732 .ModuleImageTextGiantContent{margin-right:10px;}
#module_18502732 .imageTextGiant-Container{padding-top:10px;}
#module_18502732 .imageTextGiant-Container{padding-bottom:10px;}
#module_18502732 .imageTextGiant-Container{padding-left:10px;}
#module_18502732 .imageTextGiant-Container{padding-right:10px;}

.module_18502735 .ModuleHead .HeadCenter{float:none;}
#module_18502735 {
    padding:0px;
}
#module_18502735 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502735 .ModuleHead18502735 {
    display:none;
}
#module_18502735 .ModuleHead .HeadText.HeadText18502735 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18502735 .ModuleHead .HeadCenter.HeadCenter18502735{text-align:left;}
#module_18502735 .ModuleHead .HeadCenter.HeadCenter18502735 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18502735 .BodyCenter.BodyCenter18502735 {
    background:none;background-color:rgb(23, 23, 23);
}
#module_18502735 >.module_18502735 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18502735 >.module_18502735{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18502735 .BodyCenter.BodyCenter18502735 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502735 .BodyCenter.BodyCenter18502735 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18502735 >.module_18502735 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18502735 >.module_18502735 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18502735 >.module_18502735 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18502735:hover {
    border:none;
}
#module_18502735:hover >.module_18502735 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18502735 .ModuleSubContainer{background-color:transparent;}
#module_18502735 .ModuleSubContainer{background-image:none;}
#module_18502735 .ModuleSubContainer{background-repeat:no-repeat;}
#module_18502735 .ModuleSubContainer{background-position:0% 0%;}
#module_18502735 .ModuleSubContainer{background-attachment:scroll;}
#module_18502735 {!bgVideo!}{bgVideoUrl:none}
#module_18502735 .gridBgVideo .bgVideoMask{opacity:0.2}
.ModuleGridContainer.ModuleGridContainer18502735 {}
.module_18502754 .ModuleHead .HeadCenter{float:none;}
#module_18502754 {
    padding:0px;
}
#module_18502754 {
    position:static;
    z-index:0;
    width:100%;
    height: auto;
}
#module_18502754 .ModuleHead18502754 {
    display:none;
}

#module_18502754 .ModuleImageTextGiantContent{margin-top:0px;}
#module_18502754 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_18502754 .ModuleImageTextGiantContent{margin-left:0px;}
#module_18502754 .ModuleImageTextGiantContent{margin-right:10px;}
#module_18502754 .imageTextGiant-Container{padding-top:10px;}
#module_18502754 .imageTextGiant-Container{padding-bottom:10px;}
#module_18502754 .imageTextGiant-Container{padding-left:10px;}
#module_18502754 .imageTextGiant-Container{padding-right:10px;}

.ModuleMobileNavGiant.layout-101 p{ color: #fff;}
.ModuleMobileNavGiant.layout-101 .subnav li a { font-size: 15px;}
.ModuleMobileNavGiant.layout-101 .mobileNav_1.showFloatNav{    -ms-transform: translateX(17rem) !important;
    -khtml-transform: translateX(17rem) !important;
    -webkit-transform: translateX(17rem) !important;
    -o-transform: translateX(17rem) !important;
    -moz-transform: translateX(17rem) !important;
    transform: translateX(17rem) !important;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -khtml-transition: 0.5;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;}
.mobileFootNav_1.showFloatNav {
    -ms-transform: translateX(17rem) !important;
    -khtml-transform: translateX(17rem) !important;
    -webkit-transform: translateX(17rem) !important;
    -o-transform: translateX(17rem) !important;
    -moz-transform: translateX(17rem) !important;
    transform: translateX(17rem) !important;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -khtml-transition: 0.5;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.ModuleMobileNavGiant.layout-101 .maxlarge{max-width: 10rem;}
.ModuleMobileNavGiant.layout-101 .maxmiddle{max-width: 8rem;}
.ModuleMobileNavGiant.layout-101  .header-model{width: 100%; height: 3rem;}
.ModuleMobileNavGiant.layout-101 .micro-nav-item{ background:#333333;max-height: calc(100vh);z-index: 99999;-webkit-overflow-scrolling: touch;}
.mobileNavFloatLayer_1 {  display: block;  visibility: hidden;  width: 17rem;  height: 100%;  -ms-transform: translateX(-17rem);  -khtml-transform: translateX(-17rem);  -webkit-transform: translateX(-17rem);  -o-transform: translateX(-17rem);  -moz-transform: translateX(-17rem);  transform: translateX(-17rem);  -ms-transition: 0.5s;  -webkit-transition: 0.5s;  -khtml-transition: 0.5;  -o-transition: 0.5s;  -moz-transition: 0.5s;  transition: 0.5s;  -webkit-box-shadow: inset -0.3rem 0rem 0.5rem rgba(0,0,0,.3);  -ms-box-shadow: inset -0.3rem 0rem .5rem rgba(0,0,0,.3);  -moz-box-shadow: inset -0.3rem 0rem .5rem rgba(0,0,0,.3);  -o-box-shadow: inset -0.3rem 0rem .5rem rgba(0,0,0,.3);  box-shadow: inset -0.3rem 0rem 0.5rem rgba(0,0,0,.3);  }
.ModuleMobileNavGiant.layout-101 .micro-nav-item ul li{  color: #fff;border-bottom: 1px solid #666; }
.ModuleMobileNavGiant.layout-101 .micro-nav-item ul  li.on{border-left: 5px solid #888888;transition: all .3s ease-out }
.ModuleMobileNavGiant.layout-101 .micro-nav-item>ul>li>a{padding-left:15%; font-size: 15px; color: #fff; display: block;  height: 65px; line-height: 65px; position: relative;}
.ModuleMobileNavGiant.layout-101 .micro-nav-item>ul>li>a .main-class-colorlump{width: 10px;height: 66px;background-color: #888;display: none;vertical-align: middle;top: unset; margin-right: 0; transform: unset; position: unset;}
.ModuleMobileNavGiant.layout-101 .micro-nav-item ul li i{ width:18.5px; height: 20px;  display: inline-block; margin-right: 1.06rem; position: absolute; top: 50%;  transform: translateY(-50%);}
.ModuleMobileNavGiant.layout-101 .micro-nav-item ul li p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis; font-size: 15px;position: absolute; top: 50%;  transform: translateY(-50%); margin-left: 2.06rem;}
.ModuleMobileNavGiant.layout-101 .micro-nav-item ul  li.open>a .more:before { content: "\e6a6";   }
.ModuleMobileNavGiant.layout-101 .subnav{ z-index: -99;}
.ModuleMobileNavGiant.layout-101 .micro-nav{ position: absolute; top: 50px;    width: 100%;display: none;}
.ModuleMobileNavGiant.layout-101 .more{z-index: 999;font-size: 20px; text-align: center;width: 50px; height: 100%; display: inline-block; position: absolute; right: 0;top: 50%;  transform: translateY(-50%);     transition: all 0.4s ease;}
.ModuleMobileNavGiant.layout-101 .treenav li a.treemenu{padding-left:30%;}
/*滚动条*/
.ModuleMobileNavGiant.layout-101 .micro-nav-item {  overflow: auto; height: 100%;}
.ModuleMobileNavGiant.layout-101 #accordion{    position: relative; top: 0;  }
/*二级导航*/
.ModuleMobileNavGiant.layout-101 .subnav a{padding-left: 25%; display: block; font-size:15px;position: relative; height: 65px; line-height: 65px;}
.ModuleMobileNavGiant.layout-101 .containers{ width: 100%;  height: 100%;  max-width: 100%;  overflow: hidden; position: relative;  }
.ModuleMobileNavGiant.layout-101 header {  height:50px!important;  background: #000;  font-size: 16px;  font-weight: 700;  color: #fff;  line-height: 50px;  -moz-box-sizing: border-box;  box-sizing: border-box;  width: 100%;  height: 50px;  padding: 0 0  }
.ModuleMobileNavGiant.layout-101 header {  box-sizing: border-box;  width: 100%  }
.ModuleMobileNavGiant.layout-101 header a.mm-hbtn {  background: center center no-repeat transparent;  display: block;  width: 30px;  height: 30px;  position: absolute;  top: 0;  left: 10px;  margin: 10px  }
.ModuleMobileNavGiant.layout-101 .lcbody {  width: 30px;  height: 30px;  position: relative;  transform: translateZ(0) rotate(0);  transition: transform .4s cubic-bezier(.4,.01,.165,.99)  }
.ModuleMobileNavGiant.layout-101 .lcitem {  position: absolute;  left: 0;  top: 0;  transform: translateZ(0) rotate(0);  transition: transform .25s cubic-bezier(.4,.01,.165,.99) 0s;  -webkit-transform: translateZ(0) rotate(0);  -webkit-transition: -webkit-transform .25s cubic-bezier(.4,.01,.165,.99) 0s;  width: 30px;  height: 30px  }
.ModuleMobileNavGiant.layout-101 .lcitem .rect {  width: 30px;  height: 2px;  background: #fff;  position: absolute;  left: 0;  top: 46%;  transition: transform .2s ease .2s;  -webkit-transition: -webkit-transform .2s ease .2s  }
.ModuleMobileNavGiant.layout-101 .lcitem .rect.top {  transform: translate3d(0,-6px,0);  -webkit-transform: translate3d(0,-6px,0) }
.ModuleMobileNavGiant.layout-101 .lcitem .rect.bottom {  transform: translate3d(0,6px,0);  -webkit-transform: translate3d(0,6px,0)  }
.bodyfixd{position:fixed;width:100%;height:100%;overflow: hidden}
.bodyabstre{position:absolute;width:100%;height:100%;overflow: hidden}
.ModuleMobileNavGiant.layout-101 .view-change header .mm-hbtn .lcbody {  transform: translateZ(0) rotate(90deg);  -webkit-transform: translateZ(0) rotate(90deg)  }
.ModuleMobileNavGiant.layout-101 .view-change header .mm-hbtn .lcitem {  transform: translateZ(0) rotate(45deg);  transition: transform .25s cubic-bezier(.4,.01,.165,.99) 0s;  -webkit-transform: translateZ(0) rotate(45deg);  -webkit-transition: -webkit-transform .25s cubic-bezier(.4,.01,.165,.99) 0s  }
.ModuleMobileNavGiant.layout-101 .view-change header .mm-hbtn .lcitem.bottom {  transform: translateZ(0) rotate(-45deg);  -webkit-transform: translateZ(0) rotate(-45deg)  }
.ModuleMobileNavGiant.layout-101 .view-change .mm-hbtn .lcitem .rect {  transition: transform .2s ease .2s;  transform: translate3d(0,0,0);  -webkit-transition: -webkit-transform .2s ease .2s;  -webkit-transform: translate3d(0,0,0)  }
.ModuleMobileNavGiant.layout-101 .subnav li:first-child{border-top: 1px solid #666;}
.ModuleMobileNavGiant.layout-101 .subnav li{border: 0 ! important}
.ModuleMobileNavGiant.layout-101 .subnav li:last-child{border-bottom:0;}
.ModuleMobileNavGiant.layout-101 #mobileDesignerContainer #pagebody {
    margin-top:3rem;
}
.ModuleMobileNavGiant.layout-101 #header p img{
    max-height: 40px;
    margin-right: 8px;
}
@media only screen and (max-width: 767px){
    .mobileNav {  width: 100%;  height: 3rem;  line-height: 3rem;  text-align: center;    position:fixed;}

    .mobileNavFloatLayer_1 {  display: block;  visibility: hidden;  width: 17rem;  height: 100%;  -ms-transform: translateX(-17rem);  -khtml-transform: translateX(-17rem);  -webkit-transform: translateX(-17rem);  -o-transform: translateX(-17rem);  -moz-transform: translateX(-17rem);  transform: translateX(-17rem);  -ms-transition: 0.5s;  -webkit-transition: 0.5s;  -khtml-transition: 0.5;  -o-transition: 0.5s;  -moz-transition: 0.5s;  transition: 0.5s;  -webkit-box-shadow: inset -0.3rem 0rem 0.5rem rgba(0,0,0,.3);  -ms-box-shadow: inset -0.3rem 0rem .5rem rgba(0,0,0,.3);  -moz-box-shadow: inset -0.3rem 0rem .5rem rgba(0,0,0,.3);  -o-box-shadow: inset -0.3rem 0rem .5rem rgba(0,0,0,.3);  box-shadow: inset -0.3rem 0rem 0.5rem rgba(0,0,0,.3);  }
}
@media only screen and (min-width: 768px){
    .ModuleMobileNavGiant.layout-101 #mobileDesignerContainer #pagebody {
        margin-top:0px;
    }
    .ModuleMobileNavGiant.layout-101 .header-model{ display: none;}
}.module_18466495 .ModuleHead .HeadCenter{float:none;}
#module_18466495 {
    padding:0px;
}
#module_18466495 {
}
#module_18466495 .ModuleHead18466495 {
    display:none;
}
#module_18466495 .ModuleHead .HeadText.HeadText18466495 {
    font-family:微软雅黑,Microsoft YaHei;
    font-size:12px;
    color:#000;
    font-weight:normal;
    text-decoration:initial;
    font-style:normal;
    text-align:left;
}
#module_18466495 .ModuleHead .HeadCenter.HeadCenter18466495{text-align:left;}
#module_18466495 .ModuleHead .HeadCenter.HeadCenter18466495 {
    margin:0;
    background:none;background-color:rgba(0,0,0,0);
}
#module_18466495 .BodyCenter.BodyCenter18466495 {
    background:none;background-color:rgba(0,0,0,0);
}
#module_18466495 >.module_18466495 {
    border-top-style:solid;
    border-top-color:#000;
    border-top-width:0px;
    border-left-style:solid;
    border-left-color:#000;
    border-left-width:0px;
    border-right-style:solid;
    border-right-color:#000;
    border-right-width:0px;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
}
#module_18466495 >.module_18466495{
    overflow: hidden;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
    #module_18466495 .BodyCenter.BodyCenter18466495 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18466495 .BodyCenter.BodyCenter18466495 {
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
}
@media screen and (min-width: 768px){
    #module_18466495 >.module_18466495 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 767px){
    #module_18466495 >.module_18466495 {
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
}
#module_18466495 >.module_18466495 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}
#module_18466495:hover {
    border:none;
}
#module_18466495:hover >.module_18466495 {box-shadow: 0px 0px 0px 0px #ccc;transition: box-shadow 0.5s ease 0s;}

#module_18466495 {}#module_18466495.layout-101 #header{background-color:rgb(75, 115, 176);}
#module_18466495 {}#module_18466495.layout-101 #header p{color:#fff;}
#module_18466495 {}#module_18466495.layout-101 .lcitem .rect{background:#fff;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item ul li{border-bottom-color:#838383;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item,#module_18466495.layout-101 #MobileNavFloatLayer{background-color:#3c3c3c;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li>a{background:#3c3c3c;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li>a,#module_18466495.layout-101 .micro-nav-item>ul>li>a p{color:#fff;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li .subnav a{background:#3c3c3c;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li .subnav a,#module_18466495.layout-101 .micro-nav-item>ul>li .subnav a p{color:#fff;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li>a:hover{}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li>a:hover,#module_18466495.layout-101 .micro-nav-item>ul>li>a:hover p{color:#fff;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li>a:hover .main-class-colorlump{display:block; background-color:#888;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li .subnav a:hover{background:#777;}
#module_18466495 {}#module_18466495.layout-101 .micro-nav-item>ul>li .subnav a:hover,#module_18466495.layout-101 .micro-nav-item>ul>li .subnav a:hover p{color:#fff;}
.module_18466496 .ModuleHead .HeadCenter{float:none;}
#module_18466496 {
    padding:0px;
}
#module_18466496 {
}
#module_18466496 .ModuleHead0 {
    display:none;
}
#module_18466496 .ModuleHead .HeadText.HeadText0 {
}
#module_18466496 .ModuleHead .HeadTextMore.HeadTextMore0 {
}
#module_18466496 >.module_0 {
    border:none;
}
@media screen and (min-width: 768px){
    #module_18466496 .BodyCenter.BodyCenter0 {
    }
}
@media screen and (max-width: 767px){
    #module_18466496 .BodyCenter.BodyCenter0 {
    }
}
#module_18466496 .BodyCenter.BodyCenter0 {
}
#module_18466496 .BodyCenter a {
}

